@model IncidentManagerViewModel

@{
    ViewData["Title"] = "TechnicianIncident";
    var session = new IncidentSession(Context.Session);

}
<form method="post">
    <div class="row">
        <h1><label asp-for="TechnicianID">Technicians</label></h1>
        <select asp-for="TechnicianID" class="form-control">
            <option value="">Technican</option>
            @foreach (Technician i in Model.Technicians )
            {
                <option value="@i.TechnicianID">@i.Name</option>
               
            }
        </select>
    </<div>

            <button type="submit" class="btn btn-primary">Select</button>
</form>

