@model IncidentManagerViewModel

@{
    ViewData["Title"] = "Select Technician";
    var session = new IncidentSession(Context.Session);
}

<form method="post" asp-controller="Incident" asp-action="IncidentByTech">
    <div class="row">
        <h1><label asp-for="TechnicianID">Technicians</label></h1>
        <select asp-for="TechnicianID" class="form-control">
            <option value="">Technician</option>
            @foreach (Technician tech in Model.Technicians)
            {
                <option value="@tech.TechnicianID">@tech.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Select</button>
</form>
